* {
    padding: 0;
    margin: 0;
    font-size: 1rem;
}
.main{
    display: flex;
    flex-direction: column;
}
.buttons{
    position: relative;
    margin: 2rem;
}
.button1{
    position: absolute;
    top: 50%;
    left: 25%;
    width: 10rem;
    margin: 1rem;
    background: none;
    border-radius: 10px;
    border: 3px solid #6495ed;
    transition: all 1s ease-in-out;
    color: #6495ed;
    padding: 1rem 2rem;
    box-shadow: 0.1rem 0.5rem 1rem #6495ed33;
}
.button1:hover{
    padding: 1rem 3rem;
    width: 15rem;
    background: #6495ed ;
    color: #fff;
}
.button2{
    position: absolute;
    top: 50%;
    left: 75%;
    margin-top: 40px;
    width: 6rem;
    background: #6495ed;
    height: 6rem;
    border-radius: 50%;
    border: 3px solid #6495ed;
    transition: all 0.8s ;
    color:#fff;
    box-shadow: 0.1rem 0.5rem 1rem #6495ed33;
    transform: translate(-25%, -50%);
}
.button2:hover{
    background: #6495ed;
    transform: rotate(35deg) scale(2) translateX(-45%) translateY(50%);
    border-radius: 5%;
}