* {
    padding: 0;
    margin: 0;
    font-size: 1rem;
}
.main{
    display: flex;
    flex-direction: column;
}
.buttons{
    position: relative;
    margin: 2rem;
}
.button1{
    position: absolute;
    top: 50%;
    left: 25%;
    width: 10rem;
    margin: 1rem;
    background: none;
    border-radius: 1rem;
    border: 3px solid #6495ed;
    transition: all 1s ease-in-out;
    color: #6495ed;
    padding: 1rem 2rem;
    box-shadow: 0.1rem 0.5rem 1rem #6495ed33;
}
.button1:hover{
    padding: 1rem 3rem;
    width: 15rem;
    background: #6495ed ;
    color: #fff;
}
.button2{
    position: absolute;
    top: 50%;
    left: 75%;
    margin-top: 2rem;
    width: 6rem;
    background: #6495ed;
    height: 6rem;
    border-radius: 50%;
    border: 3px solid #6495ed;
    transition: all 0.8s ;
    color:#fff;
    box-shadow: 0.1rem 0.5rem 1rem #6495ed33;
    transform: translate(-25%, -50%);
}
.button2:hover{
    background: #6495ed;
    transform: rotate(35deg) scale(2) translateX(-45%) translateY(50%);
    border-radius: 1%;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30rem;
    margin-top: 10rem;
}
.image{
    animation: imageHeight 3s ease-in-out infinite forwards 1s;
    width: auto;
    height: auto;
}
@keyframes imageHeight{
    0%{
        opacity: 0;
        transform: translate(450px, 130px);
        border-radius: 0%;
    }
    25%{
        opacity: 0.7;
        transform: scale(1.5) translate(-300px, 0px);
        border-radius: 0%;
    }
    50%{
        opacity: 1;
        transform: translate(0, 0);
        border-radius: 0%;
    }
    100%{
        transform: scale(1.5);
        border-radius: 50rem;
    }
}